@model Medico

@{

    ViewData["Nome"] = "Cadastrar";
}

<h1>Cadastrar</h1>

<msg texto="@TempData["msg"]"></msg>

<form asp-action="cadastrar" asp-controller="paciente" method="post">
    <partial name="_Form" />

    <input type="submit" value="Cadastrar" class="btn btn-outline-primary" />
    <a asp-action="index" asp-controller="paciente" class="btn btn-outline-dark">Pacientes</a>
</form>