@model Medico

@{

    ViewData["Nome"] = "Cadastrar";
}

<titulo texto="Cadastro"></titulo>

<form asp-controller="medico" asp-action="cadastrar" >
    <partial name="_Form" />
    <input type="submit" value="Cadastrar" class="btn btn-outline-primary" />
</form>