@model Medico

@{ //viewdata?
    ViewData["Nome"] = "Editar";
}

<h1>Editar</h1>

<form asp-controller="paciente" asp-action="editar">
    <input asp-for="Codigo" />

    <partial name="_Form" />

    <input type="submit" value="Editar" class="btn btn-outline-primary" />
    <a asp-controller="paciente" asp-action="index" class="btn btn-outline-dark">Cancelar</a>
</form>

